@import url(https://fonts.googleapis.com/css?family=Lobster);
html, body{
	padding: 0;
	margin: 0;
}
.container{
	width: 100%;
	margin: 0 auto;
}
a{
	display: inline-block;
	text-decoration: none;
}
#sh{
	z-index:0;
}
#page{
	z-index:1;
	padding-bottom:30px;
}
*{
	font-family:Lobster, Ubuntu, Arial ,sens-serif, win-1251;
	box-sizing:border-box;
}

#menu{
	background: #FF9700;
	height: 75px;
	text-align:center;
}
#menu > ul{
	padding: 0;
	margin:0;
	font-size: 0;
	overflow: hidden;
}
#menu > ul > li {
	display:inline-block;
	list-style:none;
	font-size:16px;
}
#menu > ul > li a {
	color: #fff;
	text-decoration: none;
	height: 75px;
	line-height:75px;
	padding: 0 35px;
	position: relative;
	color: #333;
	z-index: 999;
}
#menu > ul > li a:hover{
	color: black;
}
#menu > ul > li a::before{
	content: " ";
	position: absolute;
	left: -4px;
	top: -25px;
	width: 100%;
	height: 140px;
	transform:rotate(15deg);
	background-color: white;
	opacity: 0;
	z-index: -1;
	
}
#menu > ul > li a:hover::before{
	opacity: 1;
}
body{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:url(../images/bg.jpeg) no-repeat;
	background-color: #c7b39b;
	background-size:cover;
}
body background-image{
	position:absolute;
	height:100%;
	width:100%;
}

}

.clear{
	clear: both;
}

#knop1{
	right:5px;
}
#polos{
	left:10%;
}
#polos1{
	right:13%;
}

